:root {
	--green: hsl(160deg, 100%, 30%);
	--gold-light: hsl(45deg, 100%, 50%);
	--gold-dark: hsl(45deg, 100%, 40%);
	--black: hsl(0deg, 0%, 0%);
	--grey-very-dark: hsl(0deg, 0%, 10%);
	--grey-dark: hsl(0deg, 0%, 30%);
	--grey-medium: hsl(0deg, 0%, 40%);
	--grey-light: hsl(0deg, 0%, 60%);
	--white: hsl(0deg, 0%, 100%);
}

* {
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--grey-medium);
}

p {
	margin-top: 16px;
	margin-bottom: 0;
	font-size: 20px;
	line-height: 150%;
}

header {
	background-color: var(--white);
	border-bottom: 8px solid var(--grey-light);
}

.max-width-wrapper {
	max-width: 800px;
	margin-inline: auto;
}

.intro-chunk {
	padding: 64px 24px;
}

.intro-chunk p {
	max-width: 415px;
}

.title {
	margin-bottom: 48px;
	font-weight: 800;
}

main {
	padding-block: 64px;
}

strong {
	color: var(--green);
}

h2 {
	padding: 16px 32px;
	background: var(--gold-light);
	border-bottom: 8px solid var(--gold-dark);
	margin: 0;
	margin-inline-start: -32px;
	width: fit-content;
}

.card {
	background-color: var(--white);
	padding: 24px;
	padding-top: 8px;
	border-bottom: 8px solid var(--grey-light);
}

/* Add styles here! */
